.form_page{
  display: flex;
  box-sizing: border-box;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 6px 40px rgba(217, 217, 217, 0.39);
  width: 320px;
  height: 400px;
  top: 50px;
  left: 445px;

}
.signin_text{
position: absolute;
width: 102px;
height: 10;
left: 50px;
top: 10px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 45px;

color: #080A3C;
}


.form_inputtt input{
position: absolute;
background: #FFF6F6;
border-radius: 8px;
position: absolute;
left: 17%;
right: 33.06%;
top: 16%;
bottom: 30.65%;
width: 200px;
height: 30px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #EB4444;
}

.form_inputt input{
position: absolute;
left: 17%;
top: 10px;

background: #FFF7F7;
border-radius: 8px;
position: absolute;
width: 200px;
height: 30px;
left: 17%;
top: 30%;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 22px;

color: #EB4444;

}

.submit_button{
position: absolute;
bottom: 3%;
width: 210px;
height: 35px;
background: #EB4444;
box-shadow: 0px 4px 30px rgba(235, 68, 68, 0.4);
border-radius: 9px;
position: absolute;
left: 17%;
right: 30%;
top: 51%;
bottom: 28.81%;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 24px;
color: #FFFFFF; 
}

.forgot_link {
position: absolute;
width: 100px;
height: 10px;
left: 180px;
top: 162px;
list-style: none;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
font-size: 10px;
color: #B0B0B0;
}

.continue_with{
position: absolute;
width: 130px;
height: 24px;
left: 120px;
top: 260px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;

color: #B5B5B5;
}

.no_account{
position: absolute;
left: 22%;
right: 10%;
top: 85%;
bottom: 10%;


font-family: Arial, Helvetica, sans-serif;
font-size: 12px;

color: #373737;
}
.no_accountli{
list-style: none;
position: absolute;
left: 60%;
right: 3%;
top: -0.5px;
bottom: 10%;

font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color:#000000;
text-decoration: none;
}

.fb_logo{
position: absolute;
width: 25px;
height: 25px;
left: 35%;
top: 73%;
}

.apple_logo{
position: absolute;
left: 46%;
right: 48.57%;
top: 73%;
bottom: 28.08%;
width:25px;

}

.google{
position: absolute;
width: 25px;
height: 25px;
left: 57%;
top: 73%;

}


@media (min-width:480px) and (max-width: 768px) {
  .form_page {
    width: 320px;
   height: 400px;
    top: 50px;
    left: 35%;
   

  }
  .form_inputtt input {
    width: 200px;
    left: 15%;
    right: 0;
    top: 60px;
    bottom: auto;
  }
  .form_inputt input {
    width: 200px;
    left: 15%;
    right: 0;
    top: 125px;
    bottom: auto;
  }
  .submit_button{
    font-size: 12px;
    line-height: 24px;
    width: 63%;
    margin-top: 5%;
    left: 15.5%;
  }
  .forgot_link{
    font-size: 10px;
    left: 165px;
    top: 168px;
  }
  .continue_with {
    width: 100px;
    height: 20px;
    left: 112px;
    top: 275px;
    font-size: 11px;
    line-height: 20px;
  }
  .no_account {
    left: 19.5%;
    right: 5%;
    top: 87%;
    bottom: 5%;
    font-size: 11.5px;
  }
  .no_accountli {
    left: 52%;
    right: 2%;
    top: -0.5px;
    bottom: 8%;
    font-size: 11.5px;
  }
  .fb_logo {
    width: 25px;
    height: 25px;
    left: 33.5%;
    top: 75.5%;
  }
  .apple_logo {
    width: 20px;
    left: 44.5%;
    top: 76%;
  }
  .google {
    width: 25px;
    height: 25px;
    left: 53%;
    top: 75.3%;
  }
} 

@media (max-width: 480px) {
    .form_page {
      width: 290px;
      height: 390px;
      top:  55px;
      left: 37px;
    }
    .continue_with {
      width: 100px;
      height: 20px;
      left: 107px;
      top: 260px;
      font-size: 11px;
      line-height: 20px;
    }
    .no_accountli {
      left: 66%;
      right: 2%;
      top: 0px;
      bottom: 8%;
      font-size: 11.5px;
    }
    
    
   
}
