.vector_logo{
position: absolute;
width: 100px;
height: 100px;
left: 540px;
top: 200px;
}
.active_text{
position: absolute;
width: 398px;
height: 54px;
left: 450px;
top: 290px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 54px;
color: #000000;
}
.add_text{
position: absolute;
width: 883px;
height: 90px;
left: 160px;
top: 345px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #000000;
}

.addd_text{
position: absolute;
width: 883px;
height: 90px;
left: 155px;
top: 375px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #000000;
}

@media (min-width:480px) and (max-width: 768px){
  .vector_logo{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 380px;
    top: 150px;
    
  }
  .active_text{
    position: absolute;
    margin-left:-115px;
    top: 225px;
    font-size: 20px;
   
    }
    .add_text{
    position: absolute;
    width: 883px;
    height: 90px;
    margin-left: -150px;
    margin-right: 360px;
    top: 260px;
    font-size: 15px;
    
    }
    
    .addd_text{
    position: absolute;
    width: 883px;
    height: 90px;
    left: 5px;
    top: 285px;
    font-size: 15px;
    
    
    }
}

@media(max-width:480px){
.vector_logo{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 125px;
  top: 220px;
  
}
.active_text{
  position: absolute;
  margin-left:-350px;
  top: 310px;
  font-size: 15px;
 
  }
  .add_text{
  position: absolute;
  width: 883px;
  height: 90px;
  margin-left: -425px;
  margin-right: 360px;
  top: 340px;
  font-size: 12px;
  
  }
  
  .addd_text{
  position: absolute;
  width: 883px;
  height: 90px;
  left: -285px;
  top: 350px;
  font-size: 12px;
  margin: 20px;
  
  }
  .hidden{
    display: none;
  }
  .breakk{
  position: absolute;
  width: 883px;
  height: 90px;
  left: -15px;
  top: -3px;
  font-size: 12px;
  margin: 20px;
  }

  

}

