.vector_logo_success{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 540px;
    top: 200px;
    }
.loginsuccess_message{
position: absolute;
width: 398px;
height: 54px;
left: 490px;
top: 270px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 54px;
color: #000000;
}
    
    
    
    
 @media (min-width:480px) and (max-width: 768px){
  .vector_logo_success{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 380px;
        top: 150px;
        
      }
  .loginsuccess_message{
        position: absolute;
        margin-left:-135px;
        top: 215px;
        font-size: 20px;
       
    }  
    }
    
    @media(max-width:480px){
    .vector_logo_success{
      position: absolute;
      width: 100px;
      height: 100px;
      left: 125px;
      top: 220px;
    }
    .loginsuccess_message{
      position: absolute;
      margin-left:-378px;
      top: 290px;
      font-size: 15px;
      }
    }
    
    